server:
  port: 8081
spring:
  application:
    name: cloud-provider
eureka:
  client:
    serviceUrl:
      defaultZone: http://user:123456@localhost:8080/eureka/
  instance:
    prefer-ip-address: true

#开放所有节点
management:
  endpoints:
    web:
      exposure:
        include: '*'